/* reset */
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}

body{ 
    color: #606060;
    font-family: 'Fjalla One', sans-serif;
}
.wrap{
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden ; 
    /* min-height: 920px; */
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    animation: start_ani 2s ease-out;
    transition: box-shadow 1s;
}
.sparkle_container{
    width: 100%; height: 100vh;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: space-around;
    z-index: -400;
}
.sparkle_container span{
    position: relative;
    width: 30px; height: 30px;
    background-color: #ffffff33;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 8px #fff, 0 0 8px #fff ;
    animation: sparkle 8s linear infinite;
    animation-duration: calc(125s / var(--i));
    opacity: 0.3;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.sparkle_container span:nth-child(even){
    opacity: 0.7;
}
.wrap_bg{
    position: absolute;
    top: -250px;
    left: 50%;
    margin-left: -1100px;
    z-index: -500;
    filter: blur(40px);
    -webkit-filter: blur(40px);
    opacity: 0;
    transition: all 1s;
}
.wrap_bg:nth-child(1) path{
    animation: bg_move1 8s linear alternate infinite;
}
.wrap_bg:nth-child(2) path{
    animation: bg_move2 5s linear alternate infinite;
}
.title{
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin-top: 120px;
}
.message{
    font-size: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(50vh - 20px);
    letter-spacing:5px;
    transition: all 1s;
    opacity:0;
}
@keyframes message {
    60%{
        opacity:1;
        letter-spacing:0;
    }
    70%{
        opacity:1;
        letter-spacing:0;
    }
    100%{
        letter-spacing:0;
        opacity:0;
    }
}

/* ghost */
.ghost_wrap{
    width: 350px; height: 350px;
    margin: 0 auto;
    margin-top: calc(50vh - 350px);
    position: relative;
    transition: all 1s;
    cursor: pointer;
    opacity: 0;
}
.bg{
    width: 350px; height: 350px;
    background-color: #fff;
    border-radius: 50%;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    position: absolute; z-index: 0;
    opacity: 0.4;
    transform: scale(2);
    animation: g_background 2s linear alternate infinite;
}
.ghost{
    width: 160px; height: 230px;
    position: absolute; z-index: 5;
    top: calc(50% - 115px);
    left: calc(50% - 80px);
    animation: ghost 8s linear normal infinite,
               ghost_blur 3s alternate infinite;
}
.ghost_wrap:hover{
    transform: scale(1.02);
}
.blur{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.ghost_head{
    width: 160px; height: 160px;
    background-color: #FFB4B4;
    border-radius: 50%;
    position: absolute;
}
.ghost_body{
    width: 160px; height: 80px;
    background-color: #FFB4B4;
    position: absolute;
    top: 80px;
}
.ghost_leg{
    width: 160px; height: 150px;
    position: absolute;
    bottom: 0;
}
.ghost_leg::after{
    content: '';
    display: none;
    clear: both;
}
.ghost_leg div{
    width: 40px; height: 100%;
    background-color: #FFB4B4;
    float: left;
    border-radius: 25px;
}
.ghost_leg div:nth-child(1){ 
    height: 132px; 
    animation: ghost_leg_1 3s alternate infinite;
}
.ghost_leg div:nth-child(2){ 
    height: 150px; 
    animation: ghost_leg_2 3s 1s alternate infinite;
}
.ghost_leg div:nth-child(3){ 
    height: 113px; 
    animation: ghost_leg_3 3s alternate infinite;
}
.ghost_leg div:nth-child(4){ 
    height: 136px; 
    animation: ghost_leg_4 3s 1s alternate infinite;
}

.ghost_eyes{
    width: 90px; height: 17px;
    position: absolute;
    top: 35%;
    left: calc(50% - 40px);
}
.ghost_eyes div{
    width: 32px; height: 17px;
    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /* filter: blur(3px);
    -webkit-filter: blur(3px); */
    position: absolute; bottom: 0;
}
.ghost_eyes div:nth-child(1){ 
    left: 0; animation: ghost_eye 10s 0.1s normal infinite;
}
.ghost_eyes div:nth-child(2){ 
    right: 0; animation: ghost_eye 10s normal infinite;
}

/* bt */
.bt_find_ghost{
    width: 170px; height: 45px;
    border-radius: 50px;
    border: 1px solid #606060;
    text-align: center; line-height: 45px;
    font-size: 15px;
    position: absolute;
    top: calc(50vh - 20px); left: calc(50% - 85px);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: all 0.5s;
    cursor: pointer;
}
.bt_find_ghost:hover{
    filter: blur(0);
    -webkit-filter: blur(0);
}
/* pop */
.hide{
    display: none !important;
}
.color_info_wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
}
.bg_color_info{
    width: 100%; height: 100vh;
    position: absolute;
    background-color: #0000001e;
    top: 0;
}
.color_info{
    width: 200px; height: 150px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 8px #00000025;
    position: absolute;
    top: calc(50vh - 100px); left: calc(50% - 100px);
    z-index: 100;
    display: flex; gap: 10px;
    flex-direction: column;
    align-items: center;
}
.color_info p{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}
.color_wrap{
    display: flex;
    gap: 5px;
    align-items: center;
}
.color_circle{
    background-color: #000000;
    width: 25px; height: 25px;
    border-radius: 50%;
}
.color_info .color_text{
    top: 62px; left: 80px; 
    font-size: 15px;
    color: #A8A8A8;
}
.color_info .downloadBt{
    width: 120px; height: 35px;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    color: #aaa;
    background-color: #fff;
    border: 1px solid #eee;
}
.color_info .downloadBt:hover{
    border: 1px solid #aaa;
    color: #606060;
}

.closeBt{
    position: absolute;
    width: 40px; height: 40px;
    top: calc(50vh - 164px);
    left: calc(50vw - 20px);
    border: none;
    background-color: #ffffff55;
    border-radius: 50%;
    color: #a8a8a8;
    cursor: pointer;
    box-shadow: 0 0 8px #00000025;
}
.closeBt:hover{
    background-color: #ffffff;
    color: #333;
}

/* info */
.info{
    position: absolute;
    bottom: 50px; left: calc(50% - 75px);
    text-align: center;
    font-size: 10px;
}
.share{
    width: 120px; height: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.share svg{
    margin: 0;
    transition: all 0.3s;
}
.share path{
    transition: all 0.3s;
}
#twitter{
    margin-top: 2px;
}
.share::after{
    content: '';
    display: none;
    clear: both;
}
.share svg:hover{
    transform: scale(1.2);
    margin: 0 10px;
    fill: #606060;
}
.share svg:hover path{
    fill: #606060;
}
.info_txt p{
    color: #A8A8A8;
    margin-bottom: 5px;
}
.info_txt span{
    font-size: 12px;
    color: #606060;
}
.info_txt a{
    display: block;
    color: #A8A8A8;
    margin-top: 3px;
}
.info_txt svg{ margin-right: 3px; transform: translateY(2px);}

/* download */
.downloadWrap{
    position: absolute;
    width: 430px; height: 430px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 300px;
}
.downloadWrap .ghost{
    animation: unset;
    filter: unset;
    -webkit-filter: unset;
}
.downloadWrap .ghost div{
    animation: unset;
}
.downloadWrap::after{
    content: "My ghost was created by netBoss";
    font-size: 10px;
    color: #bbb;
}

/* animation */
@keyframes start_ani{
    0%{}
    30%{
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    40%{
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
    60%{
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
    70%{
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    100%{}
}
@keyframes sparkle {
    from{
        transform: translateY(100vh) scale(0);
    }
    to{
        transform: translateY(-10vh) scale(1);
    }
}
@keyframes ghost_blur{
    to{
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
}
@keyframes ghost{
    from{
        transform: translate(50%, 120px)
        rotate(0turn)
        translate(-50%, -120px)
        translate(50%,50%)
        rotate(1turn)
        translate(-50%,-50%)
    }
    to{
        transform: translate(50%, 120px)
        rotate(1turn)
        translate(-50%, -120px)
        translate(50%,50%)
        rotate(0turn)
        translate(-50%,-50%)
    }
}
@keyframes g_background{
    to{
        transform: scale(1);
        filter: blur(30px);
        -webkit-filter: blur(30px);        
    }
}
@keyframes ghost_leg_1{
    to{height: 150px;}
}
@keyframes ghost_leg_2{
    to{height: 110px;}
}
@keyframes ghost_leg_3{
    to{height: 150px;}
}
@keyframes ghost_leg_4{
    to{height: 120px;}
}
@keyframes ghost_eye{
    0%{height: 17px;}
    45%{height: 17px;}
    50%{height: 10px;}
    55%{height: 17px;}
    100%{height: 17px;}
}
@keyframes bg_move1 {
    to{
        d: path("M3901.954,670.361s184.218-152.3,533.353-152.3S4813.8,630.1,5197.015,732.784s531.124,14.851,656.551,14.851V-34.378H3892.138Z");
    }
}
@keyframes bg_move2 {
    to{
        d: path("M3920.745,479.721s349.892,145.153,699.027,145.153,433.2-169.566,805.982-183.351,302.384,95.5,427.812,95.5v-571.4H3892.138Z");
    }
}
