/* reset */
*{margin: 0; padding: 0;}
a{text-decoration: none;}

body{ 
    color: #606060;
    font-family: 'Fjalla One', sans-serif;
}
.wrap{
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden ; 
    min-height: 920px;
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
    animation: start_ani 2s ease-out;
}
.title{
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    margin-top: 120px;
}

/* ghost */
.ghost_wrap{
    width: 350px; height: 350px;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
    transition: all 1s;
    opacity: 0;
}
.bg{
    width: 350px; height: 350px;
    background-color: #FFB4B4;
    border-radius: 50%;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    position: absolute; z-index: 0;
    opacity: 0.4;
    animation: g_background 2s linear alternate infinite;
}
.ghost{
    width: 160px; height: 230px;
    position: absolute; z-index: 5;
    top: calc(50% - 115px);
    left: calc(50% - 80px);
    animation: ghost 8s linear normal infinite,
            ghost_blur 3s alternate infinite;
}
.blur{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.ghost_head{
    width: 160px; height: 160px;
    background-color: #FFB4B4;
    border-radius: 50%;
    position: absolute;
}
.ghost_body{
    width: 160px; height: 80px;
    background-color: #FFB4B4;
    position: absolute;
    top: 80px;
}
.ghost_leg{
    width: 160px; height: 150px;
    position: absolute;
    bottom: 0;
}
.ghost_leg::after{
    content: '';
    display: none;
    clear: both;
}
.ghost_leg div{
    width: 40px; height: 100%;
    background-color: #FFB4B4;
    float: left;
    border-radius: 25px;
}
.ghost_leg div:nth-child(1){ 
    height: 132px; 
    animation: ghost_leg_1 3s alternate infinite;
}
.ghost_leg div:nth-child(2){ 
    height: 150px; 
    animation: ghost_leg_2 3s 1s alternate infinite;
}
.ghost_leg div:nth-child(3){ 
    height: 113px; 
    animation: ghost_leg_3 3s alternate infinite;
}
.ghost_leg div:nth-child(4){ 
    height: 136px; 
    animation: ghost_leg_4 3s 1s alternate infinite;
}

.ghost_eyes{
    width: 90px; height: 17px;
    position: absolute;
    top: 35%;
    left: calc(50% - 40px);
}
.ghost_eyes div{
    width: 32px; height: 17px;
    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /* filter: blur(3px);
    -webkit-filter: blur(3px); */
    position: absolute; bottom: 0;
}
.ghost_eyes div:nth-child(1){ 
    left: 0; animation: ghost_eye 10s 0.1s normal infinite;
}
.ghost_eyes div:nth-child(2){ 
    right: 0; animation: ghost_eye 10s normal infinite;
}

/* bt */
.bt_find_ghost{
    width: 170px; height: 45px;
    border-radius: 50px;
    border: 1px solid #606060;
    text-align: center; line-height: 45px;
    font-size: 15px;
    position: absolute;
    top: 450px; left: calc(50% - 85px);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: all 0.5s;
    cursor: pointer;
}
.bt_find_ghost:hover{
    filter: blur(0);
    -webkit-filter: blur(0);
}
.info{
    position: absolute;
    bottom: 50px; left: calc(50% - 85px);
    text-align: center;
    font-size: 10px;
}
.share{
    width: 120px; height: 25px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.share svg{
    margin: 0;
    transition: all 0.3s;
}
.share path{
    transition: all 0.3s;
}
#twitter{
    margin-top: 2px;
}
.share::after{
    content: '';
    display: none;
    clear: both;
}
.share svg:hover{
    transform: scale(1.2);
    margin: 0 10px;
    fill: #606060;
}
.share svg:hover path{
    fill: #606060;
}
.info_txt p{
    color: #A8A8A8;
    margin-bottom: 5px;
}
.info_txt span{
    font-size: 12px;
    color: #606060;
}
.info_txt a{
    display: block;
    color: #A8A8A8;
    margin-top: 3px;
}
.info_txt svg{ margin-right: 3px; transform: translateY(2px);}


/* animation */
@keyframes start_ani{
    0%{}
    30%{
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }
    40%{
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
    60%{
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
    70%{
        filter: blur(2px);
        -webkit-filter: blur(2px);
    }
    100%{}
}
@keyframes ghost_blur{
    to{
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
}
@keyframes ghost{
    from{
        transform: translate(50%, 120px)
        rotate(0turn)
        translate(-50%, -120px)
        translate(50%,50%)
        rotate(1turn)
        translate(-50%,-50%)
    }
    to{
        transform: translate(50%, 120px)
        rotate(1turn)
        translate(-50%, -120px)
        translate(50%,50%)
        rotate(0turn)
        translate(-50%,-50%)
    }
}
@keyframes g_background{
    to{
        transform: scale(0.8);
        filter: blur(30px);
        -webkit-filter: blur(30px);        
    }
}
@keyframes ghost_leg_1{
    to{height: 150px;}
}
@keyframes ghost_leg_2{
    to{height: 110px;}
}
@keyframes ghost_leg_3{
    to{height: 150px;}
}
@keyframes ghost_leg_4{
    to{height: 120px;}
}
@keyframes ghost_eye{
    0%{height: 17px;}
    45%{height: 17px;}
    50%{height: 10px;}
    55%{height: 17px;}
    100%{height: 17px;}
}